#encart_grand_titre_page_actus_page{
background-color:#FDFAFA;
border-color:#CCCCCC;
border-width:1px;
border-style:solid;
padding:15px;
margin-top:5px;
}

#grand_titre_page_actus_page{
font-family:Verdana;
font-size:16px;
color:#737373;
font-weight:bold;
}

#encart_texte_page_actus_page{
margin:0px;
}

