#divBlocTitre_MiniPanier{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
display:block;
padding:5px 4px 7px 9px;
}

#nom_produit_bloc_mini_panier{
font-family:Verdana;
font-size:12px;
color:#444444;
font-weight:bold;
}

#texte_message_MiniPanier{
font-family:Verdana;
font-size:12px;
color:#444444;
}

#texte_quantite_MiniPanier{
font-family:Verdana;
font-size:12px;
color:#444444;
}

#texte_num_quantite_MiniPanier{
font-family:Verdana;
font-size:12px;
color:#444444;
font-weight:bold;
}

a#bouton_fermer_MiniPanier{
text-decoration:none;
}
#bouton_fermer_MiniPanier span{
text-decoration:none;
}
#habillage_bouton_fermer_MiniPanier{
font-family:Verdana;
font-size:10px;
color:#FFFFFF;
font-weight:bold;
background-color:#337AD3;
display:inline;
border:none;
margin-left:2px;
_margin-left:3px;
_margin-top:1px;
padding:2px;
vertical-align:top;
}

a#bouton_voir_MiniPanier{
text-decoration:none;
}
#bouton_voir_MiniPanier span{
text-decoration:none;
}
#habillage_bouton_voir_MiniPanier{
font-family:Verdana;
font-size:10px;
color:#FFFFFF;
font-weight:bold;
background-color:#337AD3;
display:inline;
border:none;
margin-left:2px;
_margin-left:3px;
_margin-top:1px;
padding:2px;
vertical-align:top;
}

#divBloc_MiniPanier{
background:url(../images_style/af-af001a_perso/fond_titre_bloc.gif);
background-color:#3A84E3;
width:100%;
background-position:left top;
}

#divBlocContenu_MiniPanier{
background-color:#FDFAFA;
border-color:#CCCCCC;
border-width:1px;
border-style:solid;
margin-bottom:10px;
padding:5px 5px 5px 8px;
}

