body{
background-color:#F8FBFE;
padding:0px;
margin:0px;
}

#largeur_de_page_et_bordures{
background-color:#FFFFFF;
width:1200px;
margin:0 auto;
margin-top:0px;
padding:5px 10px 0 10px;
-moz-box-shadow: 1px 1px 12px #000;
-webkit-box-shadow: 1px 1px 12px #000;
box-shadow: 1px 1px 12px #000;
;
}

#encadrement_titre_code_dev{
background:url(../site/cms/fond_titre_bloc.gif);
background-color:#3A84E3;
width:100%;
background-position:left top;
}

#titre_code_dev{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
display:block;
padding:5px 4px 7px 9px;
}

#encadrement_texte_defaut{
background-color:#FDFAFA;
border-color:#CCCCCC;
border-width:1px;
border-style:solid;
margin-bottom:10px;
padding:5px 5px 5px 8px;
}

#cadre_visuel{
width:100%;
background-position:center bottom;
height:180px;
margin:1px 0 5px 0;
background-repeat: no-repeat ;
display:none;
}

#cadre_logo{
float:left;
margin:185px 0 0 25px;
}

#cadre_colonne_gauche{
display:none;
width:180px;
}

#cadre_colonne_principale{
padding-left:2px;
}

#cadre_colonne_droite{
display:none;
width:170px;
padding-top:5px;
padding-left:10px;
}

#cadre_bas_de_page{
background:url(../site/cms/liseret_1.gif);
width:100%;
background-position:right;
margin:5px 0 2px 0;
height:8px;
background-repeat:no-repeat;
;
}

#cadre_bas_de_page2{
background:url(../site/cms/liseret_2.gif);
width:100%;
background-position:right;
_margin:-10px 0 0 0;
height:8px;
background-repeat:no-repeat;
;
}

#cadre_nav_bas_de_page{
width:100%;
text-align:center;
}

#cadre_carte_interieur{
display:none;
}

#cadre_recherche{
width:100%;
background-position:right;
height:38px;
margin:1px 0 20px 0;
}

#encart_defaut{
background-color:#FDFAFA;
border-color:#CCCCCC;
border-width:1px;
border-style:solid;
padding:15px;
margin-top:5px;
}

.texte_defaut_nav_hori{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
padding:9px;
text-decoration:none;
}

.texte_defaut_nav_verti{
font-family:Verdana;
font-size:11px;
color:#595959;
font-weight:bold;
text-decoration:none;
padding-bottom:8px;
}

.texte_defaut{
font-family:Verdana;
font-size:12px;
color:#444444;
}

.texte_gras_defaut{
font-family:Verdana;
font-size:12px;
color:#444444;
font-weight:bold;
}

#grand_titre_defaut{
font-family:Verdana;
font-size:16px;
color:#737373;
font-weight:bold;
}

#titre_defaut{
font-family:Verdana;
font-size:12px;
color:#000000;
color: #737373;
}

#titre_gras_defaut{
font-family:Verdana;
font-size:12px;
color:#000000;
font-weight:bold;
color: #737373;
}

a#lien_defaut{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#lien_defaut{
text-decoration:none;
background:none;
}
a:hover#lien_defaut{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#lien_defaut{
text-decoration:none;
background:none;
}
a#lien_defaut span{
}

a#bouton_defaut{
text-decoration:none;
}
#bouton_defaut span{
text-decoration:none;
}
#habillage_bouton_defaut{
font-family:Verdana;
font-size:10px;
color:#FFFFFF;
font-weight:bold;
background-color:#337AD3;
display:inline;
border:none;
margin-left:2px;
_margin-left:3px;
_margin-top:1px;
padding:2px;
vertical-align:top;
}

#champ{
font-family:Verdana;
font-size:10px;
width:120px;
}

#menu_deroulant{
font-family:Verdana;
font-size:10px;
width:145px;
}

#radio{
}

#checkbox{
}

.bordure_image_defaut{
-moz-box-shadow: 1px 1px 12px #000;
-webkit-box-shadow: 1px 1px 12px #000;
box-shadow: 1px 1px 12px #000;
 ;
}

#cadre_home_catalogue{
}

#position_langue{
float:right;
}

.texte_catalogue{
font-family:Verdana;
font-size:12px;
color:#444444;
}

.texte_gras_catalogue{
font-family:Verdana;
font-size:12px;
color:#444444;
font-weight:bold;
}

#encart_grand_titre_catalogue{
background-color:#FDFAFA;
border-color:#CCCCCC;
border-width:1px;
border-style:solid;
padding:15px;
margin-top:5px;
}

#encart_texte_catalogue{
margin:0px;
}

#grand_titre_catalogue{
font-family:Verdana;
font-size:16px;
color:#737373;
font-weight:bold;
}

#titre_catalogue{
font-family:Verdana;
font-size:12px;
color:#000000;
color: #737373;
}

#titre_gras_catalogue{
font-family:Verdana;
font-size:12px;
color:#000000;
font-weight:bold;
color: #737373;
}

#bordure_image_catalogue{
-moz-box-shadow: 1px 1px 12px #000;
-webkit-box-shadow: 1px 1px 12px #000;
box-shadow: 1px 1px 12px #000;
 ;
}

a.catalogue{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited.catalogue{
text-decoration:none;
background:none;
}
a:hover.catalogue{
color:#595959;
text-decoration:underline;
background:none;
}
a:active.catalogue{
text-decoration:none;
background:none;
}
a.catalogue span{
}

a#bouton_catalogue{
text-decoration:none;
}
#bouton_catalogue span{
text-decoration:none;
}
#habillage_bouton_catalogue{
font-family:Verdana;
font-size:10px;
color:#FFFFFF;
font-weight:bold;
background-color:#337AD3;
display:inline;
border:none;
margin-left:2px;
_margin-left:3px;
_margin-top:1px;
padding:2px;
vertical-align:top;
}

#champ_catalogue{
font-family:Verdana;
font-size:10px;
width:120px;
}

#menu_deroulant_catalogue{
font-family:Verdana;
font-size:10px;
width:145px;
}

#radio_catalogue{
}

#checkbox_catalogue{
}

#encart_code_dev_votre_selection{
display:none;
}

#titre_code_dev_votre_selection{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
display:block;
padding:5px 4px 7px 9px;
}

#image_code_dev_votre_selection{
display:none;
}

#encart_texte_votre_selection{
background:url(../site/cms/fond_votre_selection.gif);
width:100%;
background-position:right bottom;
margin-bottom:10px;
padding:5px 0 1px 0;
}

a.lien_votre_selection{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
text-decoration:none;
background:none;
display:block;
margin-left:12px;
margin-top:-3px;
}
a:visited.lien_votre_selection{
text-decoration:none;
background:none;
}
a:hover.lien_votre_selection{
text-decoration:none;
background:none;
}
a:active.lien_votre_selection{
text-decoration:none;
background:none;
}
a.lien_votre_selection span{
}

#image_panier{
background:url(../site/cms/img_votre_selection.gif);
width:23px;
height:25px;
background-repeat:no-repeat;
display:block;
}

#encart_mini_panier{
margin:-10px 0 6px 21px;
}

a#lien_mini_panier{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
text-decoration:none;
background:none;
}
a:visited#lien_mini_panier{
text-decoration:none;
background:none;
}
a:hover#lien_mini_panier{
text-decoration:none;
background:none;
}
a:active#lien_mini_panier{
text-decoration:none;
background:none;
}
a#lien_mini_panier span{
}

#qte_mini_panier{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
margin-left:28px;
}

#encart_code_dev_votre_compte{
display:none;
}

#titre_code_dev_votre_compte{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
display:block;
padding:5px 4px 7px 9px;
}

#image_code_dev_votre_compte{
display:none;
}

#encart_texte_votre_compte{
background:url(../site/cms/fond_votre_compte.gif);
background-color:#3A84E3;
width:100%;
background-position:left top;
margin-bottom:1px;
padding:5px 0 5px 0;
}

a.lien_votre_compte{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
text-decoration:none;
background:none;
margin-left:11px;
display:block;
}
a:visited.lien_votre_compte{
text-decoration:none;
background:none;
}
a:hover.lien_votre_compte{
text-decoration:none;
background:none;
}
a:active.lien_votre_compte{
text-decoration:none;
background:none;
}
a.lien_votre_compte span{
}

#image_votre_compte{
background:url(../site/cms/img_votre_compte.gif);
width:26px;
height:26px;
background-repeat:no-repeat;
display:block;
}

#encart_code_dev_retour_accueil{
display:none;
}

#titre_code_dev_retour_accueil{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
display:block;
padding:5px 4px 7px 9px;
}

#image_code_dev_retour_accueil{
display:none;
}

#encart_texte_retour_accueil{
background:url(../site/cms/fond_retour_accueil.gif);
background-color:#3A84E3;
width:100%;
background-position:left top;
margin-top:1px;
margin-bottom:1px;
padding:5px 0 3px 0;
}

a.lien_retour_accueil{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
text-decoration:none;
background:none;
margin-left:14px;
display:block;
}
a:visited.lien_retour_accueil{
text-decoration:none;
background:none;
}
a:hover.lien_retour_accueil{
text-decoration:none;
background:none;
}
a:active.lien_retour_accueil{
text-decoration:none;
background:none;
}
a.lien_retour_accueil span{
}

#image_accueil{
background:url(../site/cms/img_retour_accueil.gif);
width:22px;
height:24px;
background-repeat:no-repeat;
display:block;
}

#encart_code_dev_recherche_style{
display:none;
}

#titre_code_dev_recherche_style{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
display:block;
padding:5px 4px 7px 9px;
}

#image_code_dev_recherche_style{
display:none;
}

#encart_recherche_style{
margin-top:5px;
}

#image_recherche_style{
display:none;
}

#champ_recherche_style{
font-family:Verdana;
font-size:10px;
width:120px;
}

a#bouton_texte_recherche_style{
text-decoration:none;
}
#bouton_texte_recherche_style span{
text-decoration:none;
}
#habillage_bouton_texte_recherche_style{
font-family:Verdana;
font-size:10px;
color:#FFFFFF;
font-weight:bold;
background-color:#337AD3;
display:inline;
border:none;
margin-left:2px;
_margin-left:3px;
_margin-top:1px;
padding:2px;
vertical-align:top;
}

a#bouton_texte_recherche_avancee_style{
text-decoration:none;
background:none;
display:none;
}
a:visited#bouton_texte_recherche_avancee_style{
text-decoration:none;
background:none;
}
a:hover#bouton_texte_recherche_avancee_style{
text-decoration:none;
background:none;
}
a:active#bouton_texte_recherche_avancee_style{
text-decoration:none;
background:none;
}
a#bouton_texte_recherche_avancee_style span{
}

#texte_remise_groupee_code_remise{
font-family:Verdana;
font-size:12px;
color:#444444;
}

#encart_code_remise{
background:none;
}

#texte_pas_remise_client_code_remise{
font-family:Verdana;
font-size:12px;
color:#444444;
}

#champ_remise_code_remise{
font-family:Verdana;
font-size:11px;
color:#595959;
width:105px;
}

a#bouton_texte_code_remise{
text-decoration:none;
}
#bouton_texte_code_remise span{
text-decoration:none;
}
#habillage_bouton_texte_code_remise{
font-family:Verdana;
font-size:10px;
color:#FFFFFF;
font-weight:bold;
background-color:#337AD3;
display:inline;
border:none;
margin-left:2px;
_margin-left:3px;
_margin-top:1px;
padding:2px;
vertical-align:top;
}

a#lien_site_classique_mobile{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#lien_site_classique_mobile{
text-decoration:none;
background:none;
}
a:hover#lien_site_classique_mobile{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#lien_site_classique_mobile{
text-decoration:none;
background:none;
}
a#lien_site_classique_mobile span{
}

#encart_code_dev_recherche{
background:url(../site/cms/fond_titre_bloc.gif);
background-color:#3A84E3;
width:100%;
background-position:left top;
}

#titre_code_dev_recherche{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
display:block;
padding:5px 4px 7px 9px;
}

#image_code_dev_recherche{
display:none;
}

#encart_recherche{
background-color:#FDFAFA;
border-color:#CCCCCC;
border-width:1px;
border-style:solid;
margin-bottom:10px;
padding:5px 5px 5px 8px;
}

#titre_recherchez_article{
font-family:Verdana;
font-size:12px;
color:#444444;
}

div#image_recherche{
display:none;
}

#champ_recherche{
font-family:Verdana;
font-size:10px;
width:120px;
}

a#bouton_texte_recherche{
text-decoration:none;
}
#bouton_texte_recherche span{
text-decoration:none;
}
#habillage_bouton_texte_recherche{
font-family:Verdana;
font-size:10px;
color:#FFFFFF;
font-weight:bold;
background-color:#337AD3;
display:inline;
border:none;
margin-left:2px;
_margin-left:3px;
_margin-top:1px;
padding:2px;
vertical-align:top;
}

a#bouton_texte_recherche_avancee{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#bouton_texte_recherche_avancee{
text-decoration:none;
background:none;
}
a:hover#bouton_texte_recherche_avancee{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#bouton_texte_recherche_avancee{
text-decoration:none;
background:none;
}
a#bouton_texte_recherche_avancee span{
}

#encart_code_dev_promotion{
display:none;
}

#titre_code_dev_promotion{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
display:block;
padding:5px 4px 7px 9px;
}

#image_code_dev_promotion{
display:none;
}

#encart_promotion{
width:100%;
margin:10px 0 10px 0;
}

#titre_promotion{
font-family:Verdana;
font-size:12px;
color:#000000;
color: #737373;
}

#texte_description_promotion{
font-family:Verdana;
font-size:12px;
color:#444444;
}

a.lien_cliquez_ici{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited.lien_cliquez_ici{
text-decoration:none;
background:none;
}
a:hover.lien_cliquez_ici{
color:#595959;
text-decoration:underline;
background:none;
}
a:active.lien_cliquez_ici{
text-decoration:none;
background:none;
}
a.lien_cliquez_ici span{
}

#encart_logo_boutique_logo{
background-color:#FDFAFA;
border-color:#CCCCCC;
border-width:1px;
border-style:solid;
margin-bottom:10px;
padding:5px 5px 5px 8px;
}

#texte_nom_boutique_si_logo_absent_logo{
font-family:Verdana;
font-size:12px;
color:#444444;
}

#encart_code_dev_login_sans_code_remise{
background:url(../site/cms/fond_titre_bloc.gif);
background-color:#3A84E3;
width:100%;
background-position:left top;
}

#titre_code_dev_login_sans_code_remise{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
display:block;
padding:5px 4px 7px 9px;
}

#image_code_dev_login_sans_code_remise{
display:none;
}

#encart_login_sans_code_remise{
background-color:#FDFAFA;
border-color:#CCCCCC;
border-width:1px;
border-style:solid;
margin-bottom:10px;
padding:5px 5px 5px 8px;
}

#texte_client_connu_bonjour_login_sans_code_remise{
font-family:Verdana;
font-size:12px;
color:#444444;
}

#texte_client_connu_si_vous_netes_pas_login_sans_code_remise{
font-family:Verdana;
font-size:12px;
color:#444444;
}

#texte_client_inconnu_login_sans_code_remise{
font-family:Verdana;
font-size:12px;
color:#444444;
}

#champ_email_client_inconnu_login_sans_code_remise{
font-family:Verdana;
font-size:10px;
width:120px;
}

#champ_mdp_client_inconnu_login_sans_code_remise{
font-family:Verdana;
font-size:10px;
width:120px;
}

a#bouton_texte_validation_login_sans_code_remise{
text-decoration:none;
}
#bouton_texte_validation_login_sans_code_remise span{
text-decoration:none;
}
#habillage_bouton_texte_validation_login_sans_code_remise{
font-family:Verdana;
font-size:10px;
color:#FFFFFF;
font-weight:bold;
background-color:#337AD3;
display:inline;
border:none;
margin-left:2px;
_margin-left:3px;
_margin-top:1px;
padding:2px;
vertical-align:top;
}

#texte_premiere_visite_login_sans_code_remise{
font-family:Verdana;
font-size:12px;
color:#444444;
}

a#lien_enregistrez_vous_login_sans_code_remise{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#lien_enregistrez_vous_login_sans_code_remise{
text-decoration:none;
background:none;
}
a:hover#lien_enregistrez_vous_login_sans_code_remise{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#lien_enregistrez_vous_login_sans_code_remise{
text-decoration:none;
background:none;
}
a#lien_enregistrez_vous_login_sans_code_remise span{
}

a#lien_accedez_a_votre_compte_login_sans_code_remise{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#lien_accedez_a_votre_compte_login_sans_code_remise{
text-decoration:none;
background:none;
}
a:hover#lien_accedez_a_votre_compte_login_sans_code_remise{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#lien_accedez_a_votre_compte_login_sans_code_remise{
text-decoration:none;
background:none;
}
a#lien_accedez_a_votre_compte_login_sans_code_remise span{
}

a#lien_vous_netes_pas_cliquez_ici_login_sans_code_remise{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#lien_vous_netes_pas_cliquez_ici_login_sans_code_remise{
text-decoration:none;
background:none;
}
a:hover#lien_vous_netes_pas_cliquez_ici_login_sans_code_remise{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#lien_vous_netes_pas_cliquez_ici_login_sans_code_remise{
text-decoration:none;
background:none;
}
a#lien_vous_netes_pas_cliquez_ici_login_sans_code_remise span{
}

#encart_code_dev_login{
background:url(../site/cms/fond_titre_bloc.gif);
background-color:#3A84E3;
width:100%;
background-position:left top;
}

#titre_code_dev_login{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
display:block;
padding:5px 4px 7px 9px;
}

#image_code_dev_login{
display:none;
}

#encart_login{
background-color:#FDFAFA;
border-color:#CCCCCC;
border-width:1px;
border-style:solid;
margin-bottom:10px;
padding:5px 5px 5px 8px;
}

#texte_client_connu_bonjour_login{
font-family:Verdana;
font-size:12px;
color:#444444;
}

#texte_client_connu_si_vous_netes_pas_login{
font-family:Verdana;
font-size:12px;
color:#444444;
}

#texte_client_inconnu_login{
font-family:Verdana;
font-size:12px;
color:#444444;
}

#champ_email_client_inconnu_login{
font-family:Verdana;
font-size:10px;
width:120px;
}

#champ_mdp_client_inconnu_login{
font-family:Verdana;
font-size:10px;
width:120px;
}

a#bouton_texte_validation_login{
text-decoration:none;
}
#bouton_texte_validation_login span{
text-decoration:none;
}
#habillage_bouton_texte_validation_login{
font-family:Verdana;
font-size:10px;
color:#FFFFFF;
font-weight:bold;
background-color:#337AD3;
display:inline;
border:none;
margin-left:2px;
_margin-left:3px;
_margin-top:1px;
padding:2px;
vertical-align:top;
}

#texte_premiere_visite_login{
font-family:Verdana;
font-size:12px;
color:#444444;
}

a#lien_enregistrez_vous_login{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#lien_enregistrez_vous_login{
text-decoration:none;
background:none;
}
a:hover#lien_enregistrez_vous_login{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#lien_enregistrez_vous_login{
text-decoration:none;
background:none;
}
a#lien_enregistrez_vous_login span{
}

a#lien_accedez_a_votre_compte_login{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#lien_accedez_a_votre_compte_login{
text-decoration:none;
background:none;
}
a:hover#lien_accedez_a_votre_compte_login{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#lien_accedez_a_votre_compte_login{
text-decoration:none;
background:none;
}
a#lien_accedez_a_votre_compte_login span{
}

a#lien_vous_netes_pas_cliquez_ici_login{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#lien_vous_netes_pas_cliquez_ici_login{
text-decoration:none;
background:none;
}
a:hover#lien_vous_netes_pas_cliquez_ici_login{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#lien_vous_netes_pas_cliquez_ici_login{
text-decoration:none;
background:none;
}
a#lien_vous_netes_pas_cliquez_ici_login span{
}

a#lien_mdp_oublie_login{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#lien_mdp_oublie_login{
text-decoration:none;
background:none;
}
a:hover#lien_mdp_oublie_login{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#lien_mdp_oublie_login{
text-decoration:none;
background:none;
}
a#lien_mdp_oublie_login span{
}

#encart_code_dev_langue{
background:url(../site/cms/fond_titre_bloc.gif);
background-color:#3A84E3;
width:200px;
background-position:left top;
}

#titre_code_dev_langue{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
display:block;
padding:5px 4px 7px 9px;
}

#image_code_dev_langue{
display:none;
}

#encart_texte_langue{
background-color:#FDFAFA;
border-color:#CCCCCC;
border-width:1px;
border-style:solid;
width:200px;
margin-bottom:10px;
padding:5px 5px 5px 8px;
}

a#lien_version_anglaise_langue{
font-family:Verdana;
font-size:11px;
color:#595959;
font-weight:bold;
text-decoration:none;
background:none;
}
a:visited#lien_version_anglaise_langue{
text-decoration:none;
background:none;
}
a:hover#lien_version_anglaise_langue{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#lien_version_anglaise_langue{
text-decoration:none;
background:none;
}
a#lien_version_anglaise_langue span{
}

#texte_anglais_langue{
font-family:Verdana;
font-size:11px;
color:#595959;
font-weight:bold;
text-decoration:none;
display:block;
margin-left:-13px;
margin-top:5px;
_margin-top:2px;
}

a#lien_version_francaise_langue{
font-family:Verdana;
font-size:11px;
color:#595959;
font-weight:bold;
text-decoration:none;
background:none;
}
a:visited#lien_version_francaise_langue{
text-decoration:none;
background:none;
}
a:hover#lien_version_francaise_langue{
color:#808074;
text-decoration:underline;
background:none;
}
a:active#lien_version_francaise_langue{
text-decoration:none;
background:none;
}
a#lien_version_francaise_langue span{
}

#texte_francais_langue{
font-family:Verdana;
font-size:11px;
color:#595959;
font-weight:bold;
text-decoration:none;
display:block;
margin-left:-19px;
margin-top:5px;
_margin-top:2px;
}

#encart_langue_us_langue{
width:25%;
padding:0 0 0 20px;
}

#image_drapeaux_us_langue{
background:url(../site/cms/anglais.gif);
width:18px;
height:13px;
background-repeat:no-repeat;
display:block;
}

#encart_langue_fr_langue{
width:30%;
float:right;
padding:0 0 0 25px;
margin-top:-30px !important;
margin-top:-35px;
}

#image_drapeaux_fr_langue{
background:url(../site/cms/francais.gif);
width:17px;
height:13px;
background-repeat:no-repeat;
display:block;
}

#encart_code_dev_edito{
background:url(../site/cms/fond_titre_bloc.gif);
background-color:#3A84E3;
width:100%;
background-position:left top;
}

#titre_code_dev_edito{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
display:block;
padding:5px 4px 7px 9px;
}

#image_code_dev_edito{
display:none;
}

#encart_edito{
background-color:#FDFAFA;
border-color:#CCCCCC;
border-width:1px;
border-style:solid;
margin-bottom:10px;
padding:5px 5px 5px 8px;
}

#date_edito{
font-family:Verdana;
font-size:12px;
color:#444444;
}

#titre_edito{
font-family:Verdana;
font-size:12px;
color:#000000;
color: #737373;
}

#texte_edito{
font-family:Verdana;
font-size:12px;
color:#444444;
}

#encart_code_dev_deja_vu{
background:url(../site/cms/fond_titre_bloc.gif);
background-color:#3A84E3;
width:100%;
background-position:left top;
}

#titre_code_dev_deja_vu{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
display:block;
padding:5px 4px 7px 9px;
}

#image_code_dev_deja_vu{
display:none;
}

#encart_deja_vu{
background-color:#FDFAFA;
border-color:#CCCCCC;
border-width:1px;
border-style:solid;
margin-bottom:10px;
padding:5px 5px 5px 8px;
}

#image_deja_vu{
}

#navliste_deja_vu{
margin: 0px;
padding: 0px;
}

#navliste_deja_vu li{
margin: 0px;
padding: 0px;
list-style-type: none;
}

a.navliste_deja_vu_liens{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited.navliste_deja_vu_liens{
text-decoration:none;
background:none;
}
a:hover.navliste_deja_vu_liens{
color:#595959;
text-decoration:underline;
background:none;
}
a:active.navliste_deja_vu_liens{
text-decoration:none;
background:none;
}
a.navliste_deja_vu_liens span{
}

#encart_code_dev_cartes{
background:url(../site/cms/fond_titre_bloc.gif);
background-color:#3A84E3;
width:100%;
background-position:left top;
}

#titre_code_dev_cartes{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
display:block;
padding:5px 4px 7px 9px;
}

#image_code_dev_cartes{
display:none;
}

#encart_cartes{
background-color:#FDFAFA;
border-color:#CCCCCC;
border-width:1px;
border-style:solid;
margin-bottom:10px;
padding:5px 5px 5px 8px;
}

#texte_securite_cartes{
font-family:Verdana;
font-size:10px;
color:#444444;
display:block;
}

#encart_code_dev_acces_rapide{
display:none;
}

#titre_code_dev_acces_rapide{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
display:block;
padding:5px 4px 7px 9px;
}

#image_code_dev_acces_rapide{
display:none;
}

#encart_acces_rapide{
background:none;
}

#texte_acces_rapide{
display:none;
}

#menu_acces_rapide{
font-family:Verdana;
font-size:10px;
width:145px;
}

#encart_code_dev_mailing{
background:url(../site/cms/fond_titre_bloc.gif);
background-color:#3A84E3;
width:100%;
background-position:left top;
}

#titre_code_dev_mailing{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
display:block;
padding:5px 4px 7px 9px;
}

#image_code_dev_mailing{
display:none;
}

#encart_mailing{
background-color:#FDFAFA;
border-color:#CCCCCC;
border-width:1px;
border-style:solid;
margin-bottom:10px;
padding:5px 5px 5px 8px;
}

a#bouton_texte_ok_mailing{
text-decoration:none;
}
#bouton_texte_ok_mailing span{
text-decoration:none;
}
#habillage_bouton_texte_ok_mailing{
font-family:Verdana;
font-size:10px;
color:#FFFFFF;
font-weight:bold;
background-color:#337AD3;
display:inline;
border:none;
margin-left:2px;
_margin-left:3px;
_margin-top:1px;
padding:2px;
vertical-align:top;
}

#champ_email_mailing{
font-family:Verdana;
font-size:10px;
width:120px;
}

#texte_mailing{
font-family:Verdana;
font-size:12px;
color:#444444;
}

.radio_mailing{
}

#texte_abonnement_mailing{
font-family:Verdana;
font-size:12px;
color:#444444;
}

#texte_desabonnement_mailing{
font-family:Verdana;
font-size:12px;
color:#444444;
}

#encart_code_dev_marques{
display:none;
}

#titre_code_dev_marques{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
display:block;
padding:5px 4px 7px 9px;
}

#image_code_dev_marques{
display:none;
}

#encart_marques{
background:none;
}

#menu_marques{
font-family:Verdana;
font-size:10px;
width:145px;
}

#encart_code_dev_nav_vertical3{
background:url(../site/cms/fond_titre_bloc.gif);
background-color:#3A84E3;
width:100%;
background-position:left top;
}

#titre_code_dev_nav_vertical3{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
display:block;
padding:5px 4px 7px 9px;
}

#image_code_dev_nav_vertical3{
display:none;
}

#nav_verti3_contener{
background-color:#FDFAFA;
border-color:#CCCCCC;
border-width:1px;
border-style:solid;
margin-bottom:10px;
padding:5px 5px 5px 8px;
}

#nav_verti3_menu{
}

#nav_verti3_menu td, #nav_verti3_menu dt{
}

#nav_verti3_menu td a, #nav_verti3_menu dt a{
font-family:Verdana;
font-size:11px;
color:#595959;
font-weight:bold;
text-decoration:none;
padding-bottom:8px;
}

#nav_verti3_menu td a:hover, #nav_verti3_menu dt a:hover{
text-decoration:none;
}

#nav_verti3_menu dd{
background-color:#CCCCCE;
border-color:#AEAEAE;
border-width:1px;
border-style:solid;
width:200px;
margin-left:60px;
}

#nav_verti3_contener_sous a{
font-family:Verdana;
font-size:11px;
color:#595959;
text-decoration:none;
padding:5px;
}

#nav_verti3_contener_sous a:hover{
color:#FFFFFF;
background-color:#8C8C8C;
text-decoration:none;
}

div.nav_verti3_image_treeview_open{
display:none;
}

div.nav_verti3_image_treeview_close{
display:none;
}

#encart_code_dev_nav_vertical2{
background:url(../site/cms/fond_titre_bloc.gif);
background-color:#3A84E3;
width:100%;
background-position:left top;
}

#titre_code_dev_nav_vertical2{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
display:block;
padding:5px 4px 7px 9px;
}

#image_code_dev_nav_vertical2{
display:none;
}

#nav_verti2_contener{
background-color:#FDFAFA;
border-color:#CCCCCC;
border-width:1px;
border-style:solid;
margin-bottom:10px;
padding:5px 5px 5px 8px;
}

#nav_verti2_menu{
}

#nav_verti2_menu td, #nav_verti2_menu dt{
}

#nav_verti2_menu td a, #nav_verti2_menu dt a{
font-family:Verdana;
font-size:11px;
color:#595959;
font-weight:bold;
text-decoration:none;
padding-bottom:8px;
}

#nav_verti2_menu td a:hover, #nav_verti2_menu dt a:hover{
text-decoration:none;
}

#nav_verti2_menu dd{
background-color:#CCCCCE;
border-color:#AEAEAE;
border-width:1px;
border-style:solid;
width:200px;
margin-left:60px;
}

#nav_verti2_contener_sous a{
font-family:Verdana;
font-size:11px;
color:#595959;
text-decoration:none;
padding:5px;
}

#nav_verti2_contener_sous a:hover{
color:#FFFFFF;
background-color:#8C8C8C;
text-decoration:none;
}

div.nav_verti2_image_treeview_open{
display:none;
}

div.nav_verti2_image_treeview_close{
display:none;
}

#encart_code_dev_nav_vertical{
background:url(../site/cms/fond_titre_bloc.gif);
background-color:#3A84E3;
width:100%;
background-position:left top;
}

#titre_code_dev_nav_vertical{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
display:block;
padding:5px 4px 7px 9px;
}

#image_code_dev_nav_vertical{
display:none;
}

#nav_verti_contener{
background-color:#FDFAFA;
border-color:#CCCCCC;
border-width:1px;
border-style:solid;
margin-bottom:10px;
padding:5px 5px 5px 8px;
}

#nav_verti_menu{
}

#nav_verti_menu td, #nav_verti_menu dt{
}

#nav_verti_menu td a, #nav_verti_menu dt a{
font-family:Verdana;
font-size:11px;
color:#595959;
font-weight:bold;
text-decoration:none;
padding-bottom:8px;
}

#nav_verti_menu td a:hover, #nav_verti_menu dt a:hover{
text-decoration:none;
}

#nav_verti_menu dd{
background-color:#CCCCCE;
border-color:#AEAEAE;
border-width:1px;
border-style:solid;
width:200px;
margin-left:60px;
}

#nav_verti_contener_sous a{
font-family:Verdana;
font-size:11px;
color:#595959;
text-decoration:none;
padding:5px;
}

#nav_verti_contener_sous a:hover{
color:#FFFFFF;
background-color:#8C8C8C;
text-decoration:none;
}

div.nav_verti_image_treeview_open{
display:none;
}

div.nav_verti_image_treeview_close{
display:none;
}

#nav_hori3_contener{
background:none;
}

#nav_hori3_menu{
width:200px;
margin:0 auto;
}

#nav_hori3_menu dl{
}

#nav_hori3_menu td, #nav_hori3_menu dt{
padding-left:5px;
padding-right:10px;
white-space:nowrap;
}

#nav_hori3_menu td a, #nav_hori3_menu dt a{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
}

#nav_hori3_menu td a:hover, #nav_hori3_menu dt a:hover{
text-decoration:none;
}

#nav_hori3_menu dd{
background-color:#CCCCCE;
border-color:#AEAEAE;
border-width:1px;
border-style:solid;
width:200px;
margin-left:15px;
margin-top:3px;
text-align:left;
}

#nav_hori3_contener_sous a{
font-family:Verdana;
font-size:11px;
color:#595959;
text-decoration:none;
padding:5px;
}

#nav_hori3_contener_sous a:hover{
color:#FFFFFF;
background-color:#8C8C8C;
text-decoration:none;
}

#nav_hori2_contener{
background-color:#FDFAFA;
border-color:#CCCCCC;
border-width:1px;
border-style:solid;
margin-bottom:10px;
padding:5px 5px 5px 8px;
}

#nav_hori2_menu{
}

#nav_hori2_menu dl{
}

#nav_hori2_menu td, #nav_hori2_menu dt{
}

#nav_hori2_menu td a, #nav_hori2_menu dt a{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
padding:9px;
text-decoration:none;
}

#nav_hori2_menu td a:hover, #nav_hori2_menu dt a:hover{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
padding:9px;
text-decoration:none;
}

#nav_hori2_menu dd{
}

#nav_hori2_contener_sous a{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
padding:9px;
text-decoration:none;
}

#nav_hori2_contener_sous a:hover{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
padding:9px;
text-decoration:none;
}

#nav_hori_contener{
background-color:slategray;
width:100%;
margin-top:-5px;
text-align:center;
}

#nav_hori_menu{
background:slategray;
}

#nav_hori_menu dl{
}

#nav_hori_menu td, #nav_hori_menu dt{
padding-left:5px;
padding-right:10px;
;
}

#nav_hori_menu td a, #nav_hori_menu dt a{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
padding:9px 7px 9px 7px;
text-decoration:none;
;
}

#nav_hori_menu td a:hover, #nav_hori_menu dt a:hover{
background-color:#4256E7;
text-decoration:none;
}

#nav_hori_menu dd{
background-color:#CCCCCE;
border-color:#AEAEAE;
border-width:1px;
border-style:solid;
width:200px;
margin-left:15px;
text-align:left;
}

#nav_hori_contener_sous a{
font-family:Verdana;
font-size:11px;
color:#595959;
text-decoration:none;
padding:5px;
}

#nav_hori_contener_sous a:hover{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
background-color:#8C8C8C;
text-decoration:none;
}

#encart_code_dev_nav{
background:url(../site/cms/fond_titre_bloc.gif);
background-color:#3A84E3;
width:100%;
background-position:left top;
}

#titre_code_dev_nav{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
display:block;
padding:5px 4px 7px 9px;
}

#image_code_dev_nav{
display:none;
}

#encart_nav{
background-color:#FDFAFA;
border-color:#CCCCCC;
border-width:1px;
border-style:solid;
margin-bottom:10px;
padding:5px 5px 5px 8px;
}

.texte_puce_nav{
font-family:Verdana;
font-size:12px;
color:#444444;
}

a#bouton_texte_lien_contact{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#bouton_texte_lien_contact{
text-decoration:none;
background:none;
}
a:hover#bouton_texte_lien_contact{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#bouton_texte_lien_contact{
text-decoration:none;
background:none;
}
a#bouton_texte_lien_contact span{
}

a#lien_contactez_nous_generateur_form{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#lien_contactez_nous_generateur_form{
text-decoration:none;
background:none;
}
a:hover#lien_contactez_nous_generateur_form{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#lien_contactez_nous_generateur_form{
text-decoration:none;
background:none;
}
a#lien_contactez_nous_generateur_form span{
}

a#bouton_texte_lien_cgv{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#bouton_texte_lien_cgv{
text-decoration:none;
background:none;
}
a:hover#bouton_texte_lien_cgv{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#bouton_texte_lien_cgv{
text-decoration:none;
background:none;
}
a#bouton_texte_lien_cgv span{
}

a#bouton_texte_lien_paiement_securise{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#bouton_texte_lien_paiement_securise{
text-decoration:none;
background:none;
}
a:hover#bouton_texte_lien_paiement_securise{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#bouton_texte_lien_paiement_securise{
text-decoration:none;
background:none;
}
a#bouton_texte_lien_paiement_securise span{
}

a#bouton_texte_lien_info_livraison{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#bouton_texte_lien_info_livraison{
text-decoration:none;
background:none;
}
a:hover#bouton_texte_lien_info_livraison{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#bouton_texte_lien_info_livraison{
text-decoration:none;
background:none;
}
a#bouton_texte_lien_info_livraison span{
}

a#bouton_texte_lien_actualite{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#bouton_texte_lien_actualite{
text-decoration:none;
background:none;
}
a:hover#bouton_texte_lien_actualite{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#bouton_texte_lien_actualite{
text-decoration:none;
background:none;
}
a#bouton_texte_lien_actualite span{
}

a#bouton_texte_lien_societe{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#bouton_texte_lien_societe{
text-decoration:none;
background:none;
}
a:hover#bouton_texte_lien_societe{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#bouton_texte_lien_societe{
text-decoration:none;
background:none;
}
a#bouton_texte_lien_societe span{
}

a#bouton_texte_lien_page_libre{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#bouton_texte_lien_page_libre{
text-decoration:none;
background:none;
}
a:hover#bouton_texte_lien_page_libre{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#bouton_texte_lien_page_libre{
text-decoration:none;
background:none;
}
a#bouton_texte_lien_page_libre span{
}

a#bouton_texte_lien_infos_partenaires{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#bouton_texte_lien_infos_partenaires{
text-decoration:none;
background:none;
}
a:hover#bouton_texte_lien_infos_partenaires{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#bouton_texte_lien_infos_partenaires{
text-decoration:none;
background:none;
}
a#bouton_texte_lien_infos_partenaires span{
}

a#bouton_texte_lien_vers_societe{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#bouton_texte_lien_vers_societe{
text-decoration:none;
background:none;
}
a:hover#bouton_texte_lien_vers_societe{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#bouton_texte_lien_vers_societe{
text-decoration:none;
background:none;
}
a#bouton_texte_lien_vers_societe span{
}

a#bouton_texte_lien_generateur_pages{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#bouton_texte_lien_generateur_pages{
text-decoration:none;
background:none;
}
a:hover#bouton_texte_lien_generateur_pages{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#bouton_texte_lien_generateur_pages{
text-decoration:none;
background:none;
}
a#bouton_texte_lien_generateur_pages span{
}

#encart_code_dev_nom{
background:url(../site/cms/fond_titre_bloc.gif);
background-color:#3A84E3;
width:100%;
background-position:left top;
}

#titre_code_dev_nom{
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
font-weight:bold;
display:block;
padding:5px 4px 7px 9px;
}

#image_code_dev_nom{
display:none;
}

#encart_nom_slogan_telephone_boutique{
background-color:#FDFAFA;
border-color:#CCCCCC;
border-width:1px;
border-style:solid;
margin-bottom:10px;
padding:5px 5px 5px 8px;
}

#texte_nom_boutique{
font-family:Verdana;
font-size:12px;
color:#444444;
font-weight:bold;
}

#texte_slogan_boutique{
font-family:Verdana;
font-size:12px;
color:#444444;
font-weight:bold;
}

#texte_telephone_boutique{
font-family:Verdana;
font-size:12px;
color:#444444;
}

#telephone_boutique{
font-family:Verdana;
font-size:12px;
color:#444444;
}

