#encart_navigation_liste_famille{
margin:0px;
}

a#lien_accueil_navigation_liste_famille{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#lien_accueil_navigation_liste_famille{
text-decoration:none;
background:none;
}
a:hover#lien_accueil_navigation_liste_famille{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#lien_accueil_navigation_liste_famille{
text-decoration:none;
background:none;
}
a#lien_accueil_navigation_liste_famille span{
}

#encart_grand_titre_liste_famille{

height:98%;
background-color:#FDFAFA;
border-color:#CCCCCC;
border-width:1px;
border-style:solid;
padding:15px;
margin-top:5px;
}

#grand_titre_liste_famille{
font-family:Verdana;
font-size:16px;
color:#737373;
font-weight:bold;
}

a#lien_categorie_nom_famille{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#lien_categorie_nom_famille{
text-decoration:none;
background:none;
}
a:hover#lien_categorie_nom_famille{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#lien_categorie_nom_famille{
text-decoration:none;
background:none;
}
a#lien_categorie_nom_famille span{
}

a#lien_cliquez_ici_liste_famille{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#lien_cliquez_ici_liste_famille{
text-decoration:none;
background:none;
}
a:hover#lien_cliquez_ici_liste_famille{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#lien_cliquez_ici_liste_famille{
text-decoration:none;
background:none;
}
a#lien_cliquez_ici_liste_famille span{
}

a#lien_precedent_liste_famille{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#lien_precedent_liste_famille{
text-decoration:none;
background:none;
}
a:hover#lien_precedent_liste_famille{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#lien_precedent_liste_famille{
text-decoration:none;
background:none;
}
a#lien_precedent_liste_famille span{
}

#image_fleche_retour_liste_famille{
background:url(../images_style/af-af001a_perso/retour_liste_famille.gif);
width:9px;
height:12px;
background-repeat:no-repeat;
display:block;
}

#chiffre_page_non_cliquable_liste_familles{
font-family:Verdana;
font-size:12px;
color:#444444;
}

a#lien_numero_page_liste_familles{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#lien_numero_page_liste_familles{
text-decoration:none;
background:none;
}
a:hover#lien_numero_page_liste_familles{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#lien_numero_page_liste_familles{
text-decoration:none;
background:none;
}
a#lien_numero_page_liste_familles span{
}

a#lien_suivant_liste_famille{
font-family:Verdana;
font-size:10px;
color:#595959;
text-decoration:none;
background:none;
}
a:visited#lien_suivant_liste_famille{
text-decoration:none;
background:none;
}
a:hover#lien_suivant_liste_famille{
color:#595959;
text-decoration:underline;
background:none;
}
a:active#lien_suivant_liste_famille{
text-decoration:none;
background:none;
}
a#lien_suivant_liste_famille span{
}

#image_fleche_suivant_liste_famille{
background:url(../images_style/af-af001a_perso/suivant_liste_famille.gif);
width:15px;
height:16px;
background-repeat:no-repeat;
display:block;
}

#navigation_texte_type_liste_famille{
font-family:Verdana;
font-size:12px;
color:#444444;
}

#separateur_navigation_liste_famille{
font-family:Verdana;
font-size:12px;
color:#444444;
}

