.w_grid-000{
	margin-left: auto;
    margin-right: auto;
    min-height: 12rem;
    width: 100%;
}
.w_grid-000 > .w_grid{
	width: 100%;
	position: relative;
}
.w_grid-000 > div > .p_gridbox{
	width: 100%;
	overflow: hidden;
	position: static;
}
.w_grid-000 > div > div > .p_gridCell{
	float: left;
	position: static;
}
.w_grid-000 > div > div > .p_gridCell:not(:empty):before{
  content:'';
  height: 0.1px;
  display: block;
}
.w_grid-000 > .w_grid.signal{
	min-height: inherit;
}
.w_grid-000 > .w_grid.signal > .p_gridbox{
	min-height: inherit;
}
.w_grid-000 > .w_grid.signal > .p_gridbox > .p_gridCell{
	min-height: inherit;
}
.w_grid-000 > div > .p_gridbox > .p_gridCell:first-child{
	margin-left: 0;
	clear: left;
}
#w_grid-000 > div > .p_gridbox > .p_gridCell:nth-child(n+1){
	margin-left: 0;
	clear: left;
}

@media only screen and (max-width: 768px){
  #c_portalResProduct_category-15611242554004952 {
    min-height: auto !important;
 }

  #w_grid-1559302983316 {display: none;}
  #w_grid-1559302983186 {display: none;}
  #w_grid-1559302983096 {display: none;}
  #w_grid-1559302983496{min-height: auto !important;}
  #w_grid-1559382988778{min-height: 160px !important;}
  #w_grid-1559302983186 > div > .p_gridbox {padding-bottom: 0px !important;}
  #c_portalResProduct_list-15595639851086609 .tit_con {height: 280px !important;}
  #w_fbtn-1559302983176 {max-width: 170px !important;min-height: 40px !important;}
  #w_fbtn-1559302983176 .p_CommonBtn .font {font-size: 14px !important;line-height: 34px; height:40px;}
  #w_grid-1559302983186{padding-bottom: 0px !important;}
  #w_fbtn-1559302983306 {max-width: 170px !important;min-height: 40px !important;margin-top: 0px !important;margin-bottom: 30px !important;}
  #w_fbtn-1559302983306 .p_CommonBtn .font{font-size: 14px !important;line-height: 34px; height:40px;}
  #w_fbtn-1559302983436 {max-width: 170px !important;min-height: 40px !important;margin-top: 0px !important;margin-bottom: 30px !important;}
  #w_fbtn-1559302983436 .p_CommonBtn .font{font-size: 14px !important;line-height: 34px; height:40px;}
  #w_fbtn-1559302983586 {max-width: 170px !important;min-height: 40px !important;margin-top: 0px !important;margin-bottom: 30px !important;}
  #w_fbtn-1559302983586 .p_CommonBtn .font{font-size: 14px !important;line-height: 34px; height:40px;}
  #w_fbtn-1560170100965 {max-width: 170px !important;min-height: 40px !important;margin-top: 0px !important;margin-bottom: 30px !important;}
  #w_fbtn-1560170100965 .p_CommonBtn .font{font-size: 14px !important;line-height: 34px; height:40px;}

  
	.w_grid-000 > div > .p_gridbox > .p_gridCell{
		width: 100%;
		margin-left: 0;
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
  #w_common_text-1559028840835 p {
    padding-right: 20px;
}
  #w_grid-1559009793047{
    margin-left: auto;
    margin-right: auto;
    min-height: 3rem !important;
    width: 100%;
    background: #fbfbfb !important;
    padding-top: 38px !important;
}
  .proBox {
    background: #fbfbfb;
}
  #c_portalResProduct_list-15590400487427623 .txtBox {
    display: none !important;
}
  #c_portalResProduct_list-15590400487427623 .proLink {
    height: 226px !important;
}
  #w_grid-1558960620101{border-bottom: #e5e5e5 solid 2px;}
}
@media only screen and (min-width: 769px){
   #content_box-1561105905830-0:hover div#w_common_text-1561106301181{overflow:hidden !important; }  
 #content_box-1561105905830-1:hover div#w_common_text-1561106332270{overflow:hidden !important;}
 #content_box-1561105905901-0:hover div#w_common_text-1561106335612{overflow:hidden !important;}
  
  #w_fbtn-1559302983176 .p_CommonBtn .font {font-size: 22px !important;}
  #w_grid-1559007340713{background: #fbfbfb !important;}
  #w_grid-1559009793047{background: #fbfbfb !important;}
  #w_grid-1559011853985{background: #fbfbfb !important;}
  #w_grid-1558955012587{background: #333333 !important;}
  #w_grid-1559013202155{border-bottom: #e5e5e5 solid 2px;}
  #w_grid-1558960620101{border-bottom: #e5e5e5 solid 2px;}
  #w_grid-1559024510885{background: #333333 !important;}
	.w_grid-000 > div > .p_gridbox > .p_gridCell:first-child{
		width: 100%;
		margin-left:0;
		margin-top: 0rem;
		margin-bottom: 0rem;
      
    
	}
}
@media only screen and (max-width: 1024px) and (min-width: 769px){
  
  #w_fimg-1559302983666 {float: right !important;}
#c_portalResProduct_list-15590400487427623 .proImgBox {
    height: 178px !important;
}
#c_portalResProduct_list-15590400487427623 .proLink {
    height: 178px !important;
}

}
@media only screen and (max-width: 1367px) and (min-width: 769px){

}
@media only screen and (max-width: 1024px) and (min-width: 1366px){

}

#c_portalResEbizads_banner-15587579401459899{position:fixed; top:0px;}