@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,500,500i,700,700');
body {
  background: #0E1218;
  color: #D2F7FF;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
h1, h2, h3, h4, h5{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
}
b, strong{
  font-weight: 500;
}
#twitterindex .active{
  color: #F1FF31
}
img{
  max-width: 100%;
  height: auto;
}
a{
  -webkit-transition: all 200ms linear;
  transition:         all 200ms linear;
}
a:hover, a:focus, a:active{
  text-decoration: none;
}
.wraplogo a:hover, .wraplogo a:focus{
  text-decoration: none;
  color: #D7DAFC;
  text-shadow: 0 0 6px #FFFFFF;
}

.btn{
  border-radius: 4em;
  font-weight: 300;
  text-transform: uppercase;
}

.list-inline{
  margin: 10px 0;
}

.form-control:focus{
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(90, 37, 252, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(90, 37, 252, 0.6);
}

.btn.chip{
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: none;

  display: block;
  width: 42px;
  height: 42px;
  line-height: 1;
  font-size: 18px;
  padding: 12px;
  text-align: center;
  z-index: 99;

}
#world{
  background: #0c163f;
  background: -moz-radial-gradient(center, ellipse cover,  #0c163f 0%, #000000 80%);
  background: -webkit-radial-gradient(center, ellipse cover,  #0c163f 0%,#000000 80%);
  background: radial-gradient(ellipse at center,  #0c163f 0%,#000000 80%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c163f', endColorstr='#00000c',GradientType=1 );
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: all 400ms ease-out;
  transition:         all 400ms ease-out;
  opacity: 0;
}
#world.ready{
  opacity: 1;
}
#world.ready.hideme{
  opacity: 0;
  -webkit-transition: all 2200ms ease-in;
  transition:         all 2200ms ease-in;
}
.wraplogo{
  -webkit-transition: all 1s ease-in;
  transition:         all 1s ease-in;
  opacity: 1;
}
.wraplogo.hideme{
    opacity: 0;
}
.descubre{
  cursor: pointer;
}
/*.page-transition{
  overflow: hidden;
}*/
.brick {
    width: 380px;
}
#socialwall .brick{
    width: 200px;
}
#socialwall .brick .panel{
  opacity: 0;
  -webkit-transition: all 300ms ease-in;
  transition:         all 300ms ease-in;
  margin-top: 30px;
}
#socialwall .brick .panel.ready{
  opacity: 1;
  margin-top: 0;
}

#socialwall .brick .panel .panel-body a:hover{
  text-decoration: underline;
}

.brick img {
    margin: 0px;
    padding: 0px;
}
.free-wall{
    opacity: 0;
    -webkit-transition: all 2s ease-out;
    transition:         all 2s ease-out;
    margin-top: 50px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
}
.free-wall.transition{
  -webkit-transition: all 300ms ease-out;
  transition:         all 300ms ease-out;
}
.free-wall.ready{
    opacity: 1;
}
.content{
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all 800ms ease-out;
  transition:         all 800ms ease-out;
  -webkit-transition-delay: 0s; 
  transition-delay: 0s;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  z-index: 20;
  max-height: 100%;
}
.content.show{
  top: 0;
  opacity: 1;
  -webkit-transition-delay: 800ms;
  transition-delay: 800ms;
}
/*.logotype{
  display: none;
}*/
.content .container{
  position: relative;
  height: 100%;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.topclose{
  position: fixed;
  right: 15px;
  top: 0;
  display: block;
  width: 42px;
  height: 42px;
  line-height: 1;
/*  background: #333;
*/  font-size: 18px;
  padding: 12px;
  text-align: center;
  z-index: 99;
}

.panel{
  border: none;
  color: #333;
  margin: 0;
  border-radius: 0;
  position: relative;
}
.panel h1, .panel h2, .panel h3, .panel h4, .panel h5{
  margin-top: 0;
}
.panel-heading{
  border-radius: 0;
}
.panel-fb{
  border-top: 4px solid #3b5998;
}
.panel-twitter{
  border-top: 4px solid #1DA1F2;
}
.panel-fb .panel-heading,
.panel-fb .panel-footer{
  background-color: #F5F8FA;
  color: #3b5998;
}
.panel-twitter .panel-heading,
.panel-twitter .panel-footer{
  color: #1DA1F2;
  background-color: #F5F8FA;
}
.panel-first .panel-footer{
  background: #fff;
  border: none;
}
.panel-first .panel-heading{
  background-color: #E1E8ED;
  padding: 15px;
}
.panel-twitter .panel-footer span,
.panel-fb .panel-footer span{
  color: #AAB8C2;
}
.panel-first:before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #F5F8FA #000;
    display: block;
  width: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}
.loadmore{
  opacity: 0;
  -webkit-transition: all 400ms ease-out;
  transition:         all 400ms ease-out;
  position: relative;
  z-index: 99;
}
.loadmore.ready{
  opacity: 1;
}
.loadmore .loadprev, 
.loadmore .loadnext{
  position: fixed;
  top: 50%;
  -webkit-transform: translateZ(0);
  -moz-transform:translateZ(0);
  -o-transform:translateZ(0);
  transform:translateZ(0);
  
}
.loadmore .loadprev{
  left: 5px;
}
.loadmore .loadnext{
  right: 5px;
}

/*SEARCH FORM*/
.search {
  border: none;
  border-bottom: 2px solid #9370fd;
  -webkit-box-shadow:inset 0 -1px 0 0 #9370fd;
  box-shadow:inset 0 -1px 0 0 #9370fd;
  border: none;
  background: none;
}
.search:focus{
  -webkit-box-shadow:inset 0 -2px 0 0 #9370fd;
  box-shadow:inset 0 -2px 0 0 #9370fd;
}
 .search-btn {
    background: none;
    border: none;
}
.minimenu{
  margin: 20px 0;
}
.minimenu a{
  padding: 6px 0;
  text-transform: uppercase;
}
.biglogo{
  margin-top: 20px;
}
.sk-double-bounce,.sk-rotating-plane{width:40px;height:40px;margin:40px auto}
.sk-rotating-plane{background-color:#9370fd;-webkit-backface-visibility:visible;-moz-backface-visibility:visible;backface-visibility:visible;-webkit-animation:sk-rotatePlane 1.2s infinite ease-in-out;animation:sk-rotatePlane 1.2s infinite ease-in-out}
@-webkit-keyframes sk-rotatePlane{0%{-webkit-transform:perspective(120px) rotateX(0) rotateY(0);transform:perspective(120px) rotateX(0) rotateY(0)}
50%{-webkit-transform:perspective(120px) rotateX(-180.1deg) rotateY(0);transform:perspective(120px) rotateX(-180.1deg) rotateY(0)}
100%{-webkit-transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg);transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg)}}
@keyframes sk-rotatePlane{0%{-webkit-transform:perspective(120px) rotateX(0) rotateY(0);transform:perspective(120px) rotateX(0) rotateY(0)}
50%{-webkit-transform:perspective(120px) rotateX(-180.1deg) rotateY(0);transform:perspective(120px) rotateX(-180.1deg) rotateY(0)}
100%{-webkit-transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg);transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg)}}
.sk-double-bounce{position:relative}
.sk-double-bounce .sk-child{
  width:100%;height:100%;border-radius:50%;background-color:#fff;opacity:.8;position:absolute;top:0;left:0;
  -webkit-animation:sk-doubleBounce 2s infinite ease-in-out;animation:sk-doubleBounce 2s infinite ease-in-out;
  box-shadow: 0 0 12px 0 #fff;
}
.sk-double-bounce .sk-double-bounce2{-webkit-animation-delay:-1s;animation-delay:-1s}
@-webkit-keyframes sk-doubleBounce{0%,100%{-webkit-transform:scale(0);transform:scale(0)}50%{-webkit-transform:scale(1);transform:scale(1)}}
@keyframes sk-doubleBounce{0%,100%{-webkit-transform:scale(0);transform:scale(0)}50%{-webkit-transform:scale(1);transform:scale(1)}}
