#encadrement_titre_formulaire_perso{
background-color:#FDFAFA;
border-color:#CCCCCC;
border-width:1px;
border-style:solid;
padding:15px;
margin-top:5px;
}

#titre_formulaire_perso{
font-family:Verdana;
font-size:16px;
color:#737373;
font-weight:bold;
}

#encadrement_descriptif_formulaire_perso{
margin:0px;
}

#descriptif_formulaire_perso{
font-family:Verdana;
font-size:12px;
color:#444444;
}

#encadrement_mess_erreur_poids_formulaire_perso{
background-color:#FDFAFA;
border-color:#CCCCCC;
border-width:1px;
border-style:solid;
padding:15px;
margin-top:5px;
}

#message_erreur_poids_fichier_formulaire_perso{
font-family:Verdana;
font-size:12px;
color:#444444;
}

#encadrement_formulaire_perso{
margin:0px;
}

#label_formulaire_perso{
font-family:Verdana;
font-size:12px;
color:#000000;
color: #737373;
}

#texte_complementaire_formulaire_perso{
font-family:Verdana;
font-size:12px;
color:#444444;
}

#choix_texte_formulaire_perso{
font-family:Verdana;
font-size:12px;
color:#444444;
}

#choix_deroulant_formulaire_perso{
font-family:Verdana;
font-size:10px;
width:145px;
}

#textarea_formulaire_perso{
font-family:Verdana;
font-size:12px;
color:#444444;
}

a#bouton_uppload_fichier_formulaire_perso{
text-decoration:none;
}
#bouton_uppload_fichier_formulaire_perso span{
text-decoration:none;
}
#habillage_bouton_uppload_fichier_formulaire_perso{
}

#texte_explicatif_formulaire_perso{
font-family:Verdana;
font-size:12px;
color:#444444;
}

a#bouton_annuler_formulaire_perso{
text-decoration:none;
}
#bouton_annuler_formulaire_perso span{
text-decoration:none;
}
#habillage_bouton_annuler_formulaire_perso{
font-family:Verdana;
font-size:10px;
color:#FFFFFF;
font-weight:bold;
background-color:#337AD3;
display:inline;
border:none;
margin-left:2px;
_margin-left:3px;
_margin-top:1px;
padding:2px;
vertical-align:top;
}

a#bouton_valider_formulaire_perso{
text-decoration:none;
}
#bouton_valider_formulaire_perso span{
text-decoration:none;
}
#habillage_bouton_valider_formulaire_perso{
font-family:Verdana;
font-size:10px;
color:#FFFFFF;
font-weight:bold;
background-color:#337AD3;
display:inline;
border:none;
margin-left:2px;
_margin-left:3px;
_margin-top:1px;
padding:2px;
vertical-align:top;
}

#texte_legende_formulaire_perso{
font-family:Verdana;
font-size:12px;
color:#444444;
}

#encadrement_texte_loi_pied_formulaire_perso{
margin:0px;
}

#texte_loi_pied_formulaire_perso{
font-family:Verdana;
font-size:12px;
color:#444444;
}

